extends ./layout.jade
block content
	form(method = "post" action = "/posts/submit")
		div(style = "width:100px;")
			label() title
		input(name = "title" type = "text" maxlength="255" required)
		div(style = "width:100px;")
			label() email
		input(name = "email" type = "email" )
		div(style = "width:100px;")
			label() description
		textarea(name = "description" rows = "4" cols = "50" minLength="3" maxLength = "1000")
		button(type = "submit") Add