extends ./layout.jade
block content
	table()
		tr()
			th() title
			th() email
			th() desription
		for post in posts
			tr()
				td() #{post.title}
				td() #{post.email}
				td() #{post.description}
				
